<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>
    <add name="AutoRentDb"
         connectionString="Server=31.147.206.65;Database=PI2526_kbosnjak20_DB;User Id=PI2526_kbosnjak20;Password=oi_Yz$objb6iq2Kd;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
